
@media (max-width: 426px){
    body{
        justify-content: center;
    }

    .container{
        display: flex;
        flex-direction: column;
    }
    
        .firstPart{
            margin:auto;
            width: 100%;
            height: 220px;
        }
       
        .secondpart{
            margin: auto;
            width: 100%;
            height: 330px;
            flex-direction: column;
            background-color: rgb(145, 37, 177);
        }
    
        .space{
            height:  10px;
        }
    
        .thirdpart{
            margin: auto;
            width: 100%;
            height: 20px;
            background-color: rgb(225, 255, 75);
        }

        .interior {
            margin-top: 60px;
            margin-left: 0px;
            height: 250px;
            width: max-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            border: solid 2px black;
          }          

        .icono{
            height: 50px;
            width: 50px;
        }

        .button{
            color: black;
            background-color: rgba(255, 255, 255, 0);
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 110px;
            border: 0px;
            border-radius: 35px;
            margin-top: 10px;
            margin-left: 25px;
            margin-right: 25px;
        }

        .button:hover{
            background-color: rgb(224, 224, 224);
        }

        .iconbutton{
            width: 20px;
            height: 20px;
        }

        .iconsocial{
            display: none;
            margin-left: 10px;
            margin-right: 20px;
            height: 30px;
            width: 30px;
        }

        .text1 {
            color: rgba(223, 177, 91, 0.737);
            width: 70%;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin: auto;
            margin-top: 230px;
            background-color: rgba(171, 171, 171, 0.499);
          }
}